/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  font-family: "Avenir Light" !important;
}
.list {
  list-style: none;
}
.n:hover {
  text-decoration: none;
  color: black !important;
}
.n {
  color: black;
  font-size: 20px;
}
@font-face {
    font-family: "Avenir Light";
    src: url(/fonts/avenir-light.otf);
}
@font-face {
    font-family: "Meedori Bold";
    src: url(/fonts/meedori-bold.ttf);
}
.title {
  font-family: "Meedori Bold" !important;
}
